.addPetForm{
    position: absolute;
    width: 35%;
    height: 61%;
    left: 50%;
    top: 22.75%;
    background-color: white;
    bottom:50%;
    padding-left: 10%;
    padding-top: 5%;
}

input {
  height: 2.25em;
  width: 17em;
  border-radius: .5em;
  margin-bottom: .5em;

}

.schnauzeroverlay{
  width:50%;
  height: 31.25em;
}

.details {
    color: #675b65;
    padding-left: 3em;
}

.addTitle{
  font-family: sans-serif;
  color:black;
  font-size: 45px;
}

.titlePaw {
  color: #89767C;
  text-align: center;
  font-size: 40px;
  margin-left: 25%;
  left: 20%;

}

.savePet
{
  background-color:  #89767C;
  margin-left: 10%;
  height: 4em;

}
