@import "../bower_components/susy/sass/susy";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

$bigFonts: "Lato", sans-serif;
$bigFontsSize: 2.5em;
$beige: #E8E5E0;
$highlight2: #9F99A5;
$highlight3: #675B65;

$susy: (
  columns: 12,
  container: 90%
);

  main {
    @include container;
    height: 36em;
    box-sizing: border-box;
    font-family: $bigFonts;
  } // end main

  .couch-h1 {
    font-size: $bigFontsSize - .75em;
    margin: 1em 0 0 1.07em;
  }

  .couch-pet-info {
    @include span( 12 of 12 );
  }

  .pet-couch-pic {
    @include span( 2 of 12 );
    float: left;
    margin-top: 2.5em;
    width: 10em;
  }

  .couch-pet-name {
    @include span( 1 of 12 );
    font-size: 1.75em;
  }

  .couch-pet-price {
    @include span( 1 of 12 );
    position: relative;
    top: 2em;
    right: 1em;
    font-size: 1.25em;
    left: -1.5em;
    width: em;

  }

  .couch-days {
    position: relative;
    top: .35em;
    right: 10%;
    font-size: 1.25em;
  }

  .couchDays{
    width: 25px;
    background: none;
    outline: none;
  }

  .DogName{
    color: black;
    font-size: 30px;
  margin-left: -22%}

  .cart-details {
    @include span( 2 of 12 );
    display: inline-block;
    margin: 6.5% 0 0 6.5%;
  }

  .cart-num-days {
    position: relative;
    width: 3em;
    top: .35em;
    right: 21%;
    font-size: 1.25em;
  }

  input {
    width: 2.15em;
    margin-left: .25em;
    font-size: .75em;
  }

  .fa-times {
    position: relative;
    bottom: .45em;
    left: 60%;
    cursor: pointer;
  }

  .checkout-pad {
    // margin: 0 0 5% 35%;
    position: absolute;
    right: 5%;
    z-index: 0;
  }

  .checkout-total {
    position: absolute;
    top: 2%;
    right: 10.5%;
    font-size: 1.5em;
    line-height: 1.6em;
    left: 90%;
  }

  .checkout-button {
    width: 5em;
    height: 1.5em;
    border-radius: 5px;
    position: absolute;
    top: 115%;
    right: -20.5%;
    cursor: pointer;
    font-size: .85em;
    left: 10%;
  }
