.puppyoverlay {
  width: 100%;
  // position: relative;
  top: 30%;
  left: 4.5%;
}

//Admin View
.homeBox {
background-color: #B69783;
  border-radius: 6px;
  padding: 2%;
  margin-top: 0%;
  margin-right: 80%;
  text-align: center;
  color:#fff;
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 65%;
  width: 10%;
  font-family: sans-serif;
}
//Consumer View Button
.homeBox2 {
  background-color: #E5DCBD;
    border-radius: 6px;
  padding: 2%;
  margin-top: 0%;
  margin-right: 80%;
  text-align: center;
  color:#fff;
  z-index: 1;
  position: absolute;
  left: 32%;
  bottom: 65%;
    width: 10%;
  font-family: sans-serif;
}
