a {
  text-decoration: none;
}

.homeBox4 {
  background-color: #E5DCBD;
    border-radius: 6px;
  padding: 2%;
  margin-top: 0%;
  margin-right: 80%;
  text-align: center;
  color:#fff;
  z-index: 1;
  position: absolute;
  left: 32%;
  bottom: 65%;
    width: 10%;
  font-family: sans-serif;
}

.homeBox3{
  background-color: #4C0000;
  border-radius: 6px;
  padding: 2%;
  margin-top: 0%;
  margin-right: 80%;
  text-align: center;
  color:#fff;
  z-index: 1;
  position: absolute;
  left: 68%;
  bottom: 65%;
  width: 10%;
  font-family: sans-serif;
  text-decoration: none;
}

.homeBox6 {
background-color: green;
  border-radius: 6px;
  padding: 2%;
  margin-top: 0%;
  margin-right: 80%;
  text-align: center;
  color:#fff;
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 65%;
  width: 10%;
  font-family: sans-serif;
}
