@import "_allPets.scss";
@import "_petDetail.scss";
@import "_couchView.scss";
@import "_petTime.scss";
@import "_petAdminDetails.scss";
@import "_petListAdmin.scss";
@import "_addPetAdmin.scss";
@import "_home.scss";

$lightbrown: #B69783;
$beige: #E5DCBD;
$highlight1: #89767C;
$highlight2: #9F99A5;
$highlight3: #675B65;
$navFonts: sans-serif;

body {
  background-color: $lightbrown;
  padding: 5%;

  a {
    color: #fff;
  }
}

header {
  background-color: #000;
  font-family: $navFonts;
  color: #fff;
  width: 100%;
  height: 3em;

  nav {

  }

  ul {

  }

  li {
    display: inline-block;
    padding: .75em 0 0 4.5em;
  }

  .cart {
    margin-left: 30%;
  }
} // end header
