@import "_allPets";
@import "_petDetail";
@import "_couchView";
@import "_petTime";
@import "_petAdminDetails";
@import "_petListAdmin";
@import "_addPetAdmin";
@import "_home";
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

$lightbrown: #B69783;
$beige: #E5DCBD;
$highlight1: #89767C;
$highlight2: #9F99A5;
$highlight3: #675B65;
$navFonts: sans-serif;
$headerFont: "Indie Flower";

body {
  background-color: $lightbrown;
  padding: 5%;

  a {
    color: #fff;
  }
}

header {
  background-color: #000;
  font-family: $navFonts;
  color: #fff;
  width: 100%;
  height: 4em;
  padding-bottom: 2em;

  nav {

  }

  ul {

  }

  li {
    display: inline-block;
    padding: .75em 0 0 1em;

  }

  .cart {
    margin-left: 10%;
  }
}

.headerName {
  font-family:"Indie Flower";
  font-size: 60px;
}
 // end header
