<div class= "allPetsContainer">
  <h1>{{message}}</h1>
  {{PetID}}


<!-- Start Row 1 -->

<div class="grid grid-pad" ng-controller="PetController as pets">
    <div class="col-1-4"  ng-repeat= "pet in petList">
  <img class="dogpic4" src= {{pet.PetPhoto}}>
  <span class="pupName">{{pet.PetName}}</span>

  <br>
  <a href="#/deletionDetails"<button class="pupDetails" ng-click="deletePet(pet)">Delete <i class="fa fa-paw" aria-hidden="true"></i></button></a>
    </div>

    <script src="js/PetController.js"></script>
