<main ng-controller="PetController as pets">
  <h1 class="couch-h1">Your Couch</h1>
  <ul ng-repeat= "couch in couchIndex">
    <li>
      <ul class="couch-pet-info">
        <li><img class="pet-couch-pic" src={{couch.CouchPetPhoto}}></li>
        <li class="couch-pet-name cart-details">{{couch.CouchPetName}}</li>
        <li class="couch-pet-price cart-details">{{couch.CouchPetPrice | currency}}</li>
        <li class="couch-days cart-details">Number of days</li>
        <li class="cart-details cart-num-days"><input type="number" class="couchDays" ng-click="updateCart(couch)" name="qty" min="1" value="1"><span class="fa fa-times cart-details" aria-hidden="true"></span></li>
      </ul>
    </li>
  </ul>
  <img class="checkout-pad" src="images/checkout-pad.jpg">
  <div class="checkout-total">
    <ul>
      <li>Total</li>
      <li>{{total() | currency}}</li>
      <li>{{invoice.numDays * couch.CouchPetPrice | currency}}</li>
      <li><button class="checkout-button">Checkout</button></li>
    </ul>
  </div>
</main>
